[user]
  name = Boris Gordon
  email = boris@boztek.net
[github]
  user = boztek
[branch]
  autosetupmerge = true
[pull]
	ff = only

# [url "git@heroku.com:"]
#   insteadOf = "heroku:"

[url "git@github.com:"]
  insteadOf = "gh:"
  pushInsteadOf = "github:"
  pushInsteadOf = "git://github.com/"

[core]
	editor = emacs -nw
	pager = diff-so-fancy | less --tabs=4 -RFX
[interactive]
	diffFilter = diff-so-fancy --patch
